body{
    height: 100vh;
    width: 100%;
}
header{
    height: 10vh;
}
.left{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: 20px;
}
.right{
    height: 100%;
    width: 49%;
    
    text-align: end;
    vertical-align: 30px;
    position: relative;
    left: 294px;
    font-size:20px;
}
a{
    text-decoration: none;
}
header div span{
    vertical-align: 29px;
    font-size: 20px;
}
.left img{
    height: 160%;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}


main{
    background-image: url(https://dopobr.petersburgedu.ru/media/2021/10/29/63c4c2cb-04da-49bd-9e9d-b23da6880723.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 100%;
    margin-top: 32px;
}
.text{
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
    color: blue;
}
.text2{
    text-align: center;
    font-size: 20px;
    color: blue;
    position: relative;
    bottom: -2px;
}
footer{
    background-color: blue;
    text-align: end;
}
.zoom{
    height: 0px;
    width: 0px;
}