
body span img{
    height: 158px;
    width: 200px;
}
footer{
    background-color: blue;
    text-align: end;
}
.text{
    position: relative;
    top: -133px;
    left: 300px;
    right: 0px;
    bottom: 0px; 
    font-size: 21px;
    width: 10px;
}
